HTML{
  background-color:#20b9e8;
  font-family:sans-serif;
  background-size
}
h1{
  text-align:center;
  background-color:#E83151;
  padding:10px;
  border-radius:20px 20px 20px 20px;
}
header{
  border-radius: 20px 20px 20px 20px;
}
.hoofdpagina{
  background-color:orange;
  border-radius:10px 10px 10px 10px;
  display:flex;
  flex-direction:row;
  max-width:300px;
  text-align:center;
  padding:10px;
  margin:20px;
  margin-right:auto;
  margin-left:auto;
}
#maindiv{
  display:flex;
  flex-direction:column;
  margin-right:auto;
  margin-left:auto;
}
nav{
  background-color:black;
  text-decoration-color:white;
  position:static;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  border-radius:0px 0px 5px 5px;
}
footer{
  background-color:#d65c49;
  text-align:center;
  margin:auto;
  margin-top:20px;
  padding:1px;
  border-radius:20px 20px 20px 20px;
}
p{
  font-family:sans-serif;
  color:white
}
#logo{
  max-height:10%;
  max-width:10%;
  position:absolute;
  top:10px;
  left:-18px;
}
a{
  color:white;
}
#kaart{
  min-width:700px;
  min-height:500px;
  display: flex;
  flex-direction: column;
}
#google-maps{
  max-height:50%;
  max-width:100%;
}
#lessons-div{
  background-color:lightblue;
  min-width:200px;
  min-height:50px;
  border-radius:10px 10px 10px 10px;
  margin:10px;
}
#lessen-main{
  display:flex;
  flex-direction:column;

}
#main{
  background-color:lightblue;
  min-width:700px;
  display:flex;
  flex-direction: column;
  min-height:500px;
}
#maintext{
  color:black;
}
#jogging{
  height:100%;
  width:100%;
  border-radius:20px 20px 20px 20px;
}
a hover{
  color:grey;
  background-color:skyblue;
  border-radius:5px 5px 5px 5px;
}
.route_div{
  background-color: white;
  
}
